<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Paradox Online Pages
		</title>
		<link rel="stylesheet" href="../pages-styles.css" />		
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The home of TheParadoxBox on the Internet." />
		<meta name="keywords" content="theparadoxbox, paradox, paradoxbox, box, blog" />
		<link rel="icon" type="image/png" sizes="32x32" href="../icon_32.png" />
	</head>
	<body>
		<h1 class="title">
			Some Document
		</h1>
		<p>
			This is a sample page! I could possibly paste a Joplin notebook here.
		</p>
		

		<hr>
		<p>
			<a href="../pages-index.html">Back to Pages Home</a>
		</p>
	</body>